.contact_box {
    text-align: center;

    .contact_title_box {

        .contact_title {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 50px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.75);
            text-shadow: 2px 2px 5px rgba(77, 77, 77, 0.5);
        }
    }

    .social_link_box {
        //text-align: center;\
        margin-bottom: 20px;
        padding: 20px;

        .social_link {
            /* position: relative;
            top: 15px; */
            padding: 20px;
            text-decoration: none;
            color: rgba(194, 194, 194, 0.5);
        }
    }

}