.footer_box {
    text-align: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    
    .copyright_box {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        

        .copyright {
            position: relative;
            top: 20px;
            font-size: 18px;
            font-weight: 200;
            color: rgba(194, 194, 194, 0.5);
        }

        
    }
}