@import "config";
@import "weather";
@import "header";
@import "home";
@import "about";
@import "works";
@import "contact";
@import "footer";
/* 
@include mediaSm {
    .nav-bar div.toggle {
        display: grid;
        position: absolute;
        background-color: rgba(194, 194, 194, 0.98);;
        top: 10px;
        z-index: 7;
        height: 40px;
        width: 50px;
        justify-content: center;
        align-content: space-evenly;
        border-radius: .2em;
        border: 1px solid whitesmoke;
        //outline: 4px solid;
        cursor: pointer;

        span {
            background-color: white;
            width: 30px;
            height: 2px;
        }

    }

    div.nav_box {
        
        .menu {
            
            //visibility: hidden;

            .menu-item {
                flex-direction: row;
            }
        }
    }

}

.toggle {
    display: none;
} */

.text-reset{
    color: rgba(255, 172, 172, 0.712);
}

.active {
    color: lightcoral;
    &:hover {
        color: lightcoral;
    }
}

.color > span {
    color: rgba(194, 194, 194, 0.98);
}

:root {
    overflow-x: hidden;
    background: url(../assets/background-image.jpg);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;

}
